.weatherWrapper {
    --primary-color: var(--grey);
    --primary-font-family: var(--source-sans-pro), var(--fallback-font);
    --text-color: var(--black);
    --primary-font-size: var(--responsive-font-size);

    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    font-weight: 600;

    .innerContainer {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 32px;
        position: relative;
        z-index: 2;
    }

    .backgroundImage {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        img {
                position: absolute;
                top: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: blur(10px) opacity(0.7);
                transform: scale(1.5);
                animation: slideup 1s ease-in;
        }
    }

}

@media only screen and (max-width: 768px) {
    .weatherWrapper {
        .innerContainer {
            padding: 0;
        }

        .backgroundImage {
            img {
                top: 0;
                right: -40%;
                animation: slidein 1s ease-in;
            }
        }
    }
}

@keyframes slideup {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0%) scale(1.5);
    }
}

@keyframes slidein {
    0% {
        transform: translateX(60%);
    }

    100% {
        transform: translateX(0%) scale(1.5);
    }
}