.weatherDetails {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.timePeriodSelector {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 16px;
    
    .timePeriodItem {
        box-sizing: content-box;
        padding: 4px;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        width: 28px;
        height: 28px;
        margin-right: 0;
        cursor: pointer;

        &.selected {
            padding: 2px;
            border: 2px solid var(--text-color);
            border-radius: 50%;
        }
    }
}

.temperature {
    display: flex;
    align-items: flex-start;
    --temperature-font-size: calc(var(--primary-font-size) * 1.5); 
    animation: fadeIn 0.3s ease-in;

    .number {
        font-size: calc(var(--temperature-font-size) * 6);
        line-height: 0.85;
    }
    .unit {
        font-size: calc(var(--temperature-font-size) * 1.5);
    }
}

.weatherReport {
    display: flex;
    align-items: center;
    overflow: hidden;
    
    .weatherList {
        display: flex;
        margin: 0;
        flex: 1;
        padding: 0;
        list-style-type: none;
        margin-right: auto;
        overflow: auto;
        padding: 16px;
        margin: 16px 48px 16px 0;
        position: relative;
        transition: all 0.2s;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: 0;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--text-color);
            opacity: 0.5;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.2);
        }
        
        &.scrollAdjust {
            padding-bottom: 6px;
        }
    }

    .weatherItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: clamp(60px, 6vw, 6vw);
        flex-shrink: 0;
        height: clamp(120px, 12vw, 12vw);
        border: 2px solid var(--text-color);
        margin-right: 12px;
        border-radius: clamp(30px, 3vw, 3vw);
        padding: 8px;
        cursor: pointer;
        transition-duration: 0.5s;
        transition-property: background-color, color;
        animation: fadeIn 0.3s ease-in;

        .weatherItem__icon {
            width: 100%;
            height: auto;

            > img {
                object-fit: contain;
                width: 100%;
                height: auto;
            }
        }

        .weatherItem__label {
            margin-top: auto;
            margin-bottom: 8px;
            font-size: 16px;  
            text-align: center;
            display: flex; 
            flex-direction: column;

            span {
                &:first-child {
                    font-size: 16px;
                }

                &:nth-child(2) {
                    font-size: 12px;
                }
            }
        }

        &.selected {
            background-color: var(--text-color);
            color: var(--primary-color);
        }
    }
}

@media (hover: none) {
    .weatherList {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .weatherDetails {
        margin-top: 0;
        flex: 1;

        .weatherList {
            margin: 0;
        }
    }

    .temperature {
        --temperature-font-size: 9vw;
        justify-content: center;
        margin: auto 0;
    }

    .timePeriodSelector {
        justify-content: center;
    }
}

@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}